$main-color: rgb(33, 150, 243);
$large-screen: 1024px;
$topBarHeight: 60px;

@mixin transition($time) {
  transition: all $time ease 0s;
}

@mixin transition2 {
  transition: all .3s ease 0s;
}

/* break point */
@mixin min($min-width) {
  @media screen and (min-width: $min-width) {@content;}
}

@mixin max($max-width) {
  @media screen and (max-width: $max-width) {@content;}
}

@mixin bw($min-width, $max-width) {
  @media screen and (min-width: $min-width) and (max-width: $max-width) {@content;}
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
